default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.0
    hooks:
      - id: uv-lock


  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.4
    hooks:
      - id: clang-format
        exclude: \.json

  - repo: https://github.com/welpo/git-sumi
    rev: v0.3.0
    hooks:
      - id: git-sumi

  - repo: local
    hooks:
      - id: generate_dependencies.py
        name: generate_dependencies.py
        language: system
        entry: uv run tools/generate_dependencies.py
        files: "CMakeLists.txt|dependencies.txt|tools/generate_dependencies.py"
