name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '**.rst'
      - 'LICENSE'
      - 'data/**'
      - '**/release-*.yml'
    tags-ignore:
      - "*.*.*"
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'
      - '**.rst'
      - 'LICENSE'
      - '**/release-*.yml'
    tags-ignore:
      - "*.*.*"
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
  build:
    name: ${{ matrix.config.os }}-${{ matrix.config.preset }}
    runs-on: ${{ matrix.config.os }}
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: "windows-2025", cxx: "msvc", cc: "msvc", preset: "msvc-onnx-dml"}
          - {os: "ubuntu-24.04", cxx: "g++-14", cc: "gcc-14", preset: "gcc-onnx"}
          - {os: "ubuntu-24.04", cxx: "clang++-18", cc: "clang-18", preset: "clang-onnx"}
          - {os: "macos-14", cxx: "clang++", cc: "clang", preset: "apple-onnx-coreml"}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install Python dependencies
        shell: bash
        run: |
          uv sync --locked

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: ~/deps
          key: deps_${{ matrix.config.os }}_${{ hashfiles('dependencies.txt') }}

      - name: Build dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        shell: bash
        env:
          BUILD_TYPE: ${{ matrix.build }}
        run: |
          if [[ "$OSTYPE" == "msys" ]]; then
            uv run tools/build_dependencies.py ~/deps -c
          else
            # Clang and GCC binaries are compatible, so only compile with GCC.
            if [[ "$OSTYPE" == "linux-gnu" ]]; then
              export CC="gcc-14"
              export CXX="g++-14"
            fi
            uv run tools/build_dependencies.py ~/deps -c
          fi

      - name: Build RAD
        shell: bash
        env:
          BUILD_TYPE: Release
          CONFIG_TYPE: ${{ matrix.config.preset }}
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
        run: |
          cmake --preset=$CONFIG_TYPE -DBUILD_SHARED_LIBS=OFF -DCMAKE_PREFIX_PATH=~/deps
          cd ./build
          cmake --build . --config $BUILD_TYPE

      - name: Run tests
        shell: bash
        working-directory: ./build
        env:
          BUILD_TYPE: Release
          CONFIG_TYPE: ${{ matrix.config.preset }}
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
        run: |
          if [[ "$OSTYPE" == "msys" ]]; then
            cmake --build . --target RUN_TESTS --config $BUILD_TYPE
          else
            cd test/Release
            ./rad_test
            # cmake --build . --target test --config $BUILD_TYPE
          fi
